.red-gradient {
  background: hsla(0, 100%, 16%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#510000", endColorstr="#000000", GradientType=1 );
}
a{
  text-decoration: none;
  
}
.blue-gradient{background: hsla(195, 86%, 50%, 1);

  background: linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#12B3EB", endColorstr="#5460F9", GradientType=1 );}



  